<!-- P  p -->

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sur la route de walou</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Rubik+Mono+One&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/userlist.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>

        
  <div class="fuck">
    <nav class="fixed-top navbar-light bg-light justify-content-center text-uppercase navbar">
        <a class="navbar-brand">Bitch List</a>
      </nav>
    </div>
                
<main class="container">
    <table id="table" class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">City</th>
            <th scope="col">Email</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="row"></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td scope="row"></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td scope="row"></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
      <button type="button" class="btn btn-primary">Remove</button>
    </main>

    <footer class="fixed-bottom navbar-light bg-light justify-content-center text-uppercase navbar">
      <button onclick="window.location.href ='/form.html'" type="button" class="btn btn-primary right">Back to Home Page</button>
    </footer>

</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


<!-- <script>
function addHtmlTableRow(){
  var table = document.getElementById("table"),
  newRow = table.insertRow(table.lenght),
  newCell1 = newRow.insertCell(0),
  newCell2 = newRow.insertCell(1),
  newCell3 = newRow.insertCell(2),
  newCell4 = newRow.insertCell(3),
  name = document.getElementById("name").value,
  age = document.getElementById("age").value,
  address = document.getElementById("address").value,
  email = document.getElementById("email").value;

  cell1.innerHTML = name;
  cell2.innerHTML = age;
  cell3.innerHTML = address;
  cell4.innerHTML = email;
  

}
</script> -->

</html>