/* P  p */

body {
  background: #FDFFF3;  
    
    
    
}


footer, .navbar {
    font-family: 'Rubik Mono One', sans-serif;
    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
    color: white;

}
.navbar-brand {
    font-size: 25px;
}

.fixed-top {
height: 7rem;
}


.container {
    margin-top: 15rem;
    width: 50rem;
    
}
th {
  background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
  text-align: center;
  color: white;
}


.btn-primary {

    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
    background-color: white;
    border-color: white;
    
}

.middle {

    margin-left: 12rem;
}

.right {
    display: inline;
}

@media screen and (min-width: 200px) and (max-width: 640px) {
    .navbar-brand {
      font-size: 16px;
    }
  }

